@import "tailwindcss";

:root {
  --font-inter: 'Inter', sans-serif;
  --font-manrope: 'Manrope', sans-serif;
}

body {
  font-family: var(--font-manrope), var(--font-inter), sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

.noise-bg {
  position: relative;
}

.noise-bg::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-image: url('https://grainy-gradients.vercel.app/noise.svg');
  opacity: 0.05;
  z-index: 50;
}
